.inside-circle {
    background-color: #FFFFFF;
    width: 21.0687022rem;
    height: 21.125954rem;
    border-radius: 9999999px;
    border: 1px solid #EEECEC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inside-date {
    font-size: 1rem;
    color: #B5B5B5;
    margin-top: 15px;
}

.day-challenge {
    font-size: 2rem;
    color: #B5B5B5;
    margin-top: 15px;
}

.remanning-day {
    font-size: 1.1rem;
    color: white;
    background: #9AC740;
    padding: 4px 20px;
    border: 1px solid #EFEAEA;
    border-radius: 25px;
    margin-top: 15px;

}

.remanning-percentage {
    font-size: 1.2rem;
    color: #92CE5D;
    margin-top: 20px;
    letter-spacing: 0px;
}