.challenge-circle-main-circle-outer {
    background: #FFFFFF;
    // background-color: aqua;
    aspect-ratio: 1 / 1;
    width: 70%; // 100
    // height: 30rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #EEECEC;

    position: relative;
}

.challenge-circle-main-circle {

    // background-color: aqua;
    aspect-ratio: 1 / 1;
    width: 85%;
    // height: 30rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}


.challenge-circle-semi-circle {
position: absolute;

border-radius: 50% 50% 0 0 / 100% 100% 0 0;
border: 1px solid #EEEEEE;
border-bottom: 0;
aspect-ratio: 1.8 / 1;
}

