.food-box {
    // background-color: brown;
    // width: 90px;
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-left: 10px;
}

.food-color-represent {
    aspect-ratio: 1 / 1;
    width: 5vw;
    border-radius: 50%;

}

.food-name {
    margin-top: 6px;
    color: #A8A6A6;
    letter-spacing: 0px;
    text-align: center;
    font-size: 2vw;
    font-weight: 500;
}