* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
    background-color: rgb(5, 104, 104);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.challenge-circle-box {
    background-color: #FFFFFF;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 0px;
}